@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  position: relative;
}
.header {
  max-width: 100%;
  height: 100px;
  background-color: black;
}

.header:hover {
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
}
.header-icon {
  object-fit: contain;
  height: 70px;
  width: 120px;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.nav ul li {
  margin: 20px 20px;
}

.active {
  border-bottom: 2px solid rgb(237, 18, 109);
}

.home {
  margin-top: 600px;
}
.pictureHome {
  background-color: #000000;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.campingImage {
  height: 80%;
}

.password-container {
  position: relative;
}
.showPassword {
  cursor: pointer;
  position: absolute;
  top: -4%;
  right: 1%;
  padding: 10px;
}
.profile {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}
.information {
  display: flex;
  flex-direction: column;
}
.informationList li {
  padding: 15px;
  background-color: rgba(216, 212, 212, 0.438);
  border-radius: 10px;
  margin: 10px;
}

.profileHeader {
  font-size: 2rem;
}
.apartment {
  position: relative;
}

.apartmentText {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 110px;
  left: 20px;
  color: white;
}
.exploreBtn {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.house-img {
  margin-bottom: 50px;
  max-width: 550px;
  height: 360px;
  border-radius: 10px;
}

.categories-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.apartment-title {
  border: 2px solid black;
  padding: 4px;
  width: 100px;
}

.item-container {
  border: 1px solid black;
}
.categoryListing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 20px;
  margin: 20px;
  padding: 12px;
  background-color: rgba(241, 240, 240, 0.527);
}

.categoryListingLink {
  display: flex;
}

.categoryListingImg {
  height: 200px;
  margin-right: 20px;
  object-fit: cover;
}
.categoryListingDetails {
  width: 79%;

  display: flex;
  flex-direction: column;
}
.categoryListingLocation {
  font-weight: 600;
  font-size: 0.7rem;
  opacity: 0.8;
  margin-bottom: 0;
}
.categoryListingName {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
}
.categoryListingPrice {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: #00cc66;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.listingIcons {
  display: flex;
  justify-content: space-between;
  width: 275px;
  margin-top: 20px;
}

.iconText {
  font-weight: 500;
  font-size: 0.7rem;
}
.listingDetails {
  margin-bottom: 10rem;
}
.listingName {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.listingLocation {
  margin-top: 0;
  font-weight: 600;
}
.discountPrice {
  padding: 0.25rem 0.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  display: inline;
}
.listingPerDay {
  padding: 0.25rem 0.5rem;
  background-color: #00cc66;
  color: #ffffff;
  border-radius: 2rem;
  display: inline;
  font-weight: 600;
  font-size: 0.8rem;
  margin-right: 1rem;
}

.listingDetailsList {
  padding: 0;
  list-style-type: none;
}
.listingDetailsList li {
  margin: 0.3rem 0;
  font-weight: 500;
  opacity: 0.8;
}

.listingLocationTitle {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.25rem;
}
.leafletContainer {
  width: 100%;
  height: 400px;
  overflow-x: hidden;
  margin-bottom: 3rem;
}
.swiper-container {
  min-height: 225px;
  height: 23vw;
}
.swiperSlideDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiperSlideImg {
  width: 100%;
  object-fit: cover;
}
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #720150 transparent #720150 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
.pageContainer {
  padding: 10px;
}
.pageHeader {
  font-size: 2rem;
}
.formContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.forgetPasswordForm {
  border: 1px solid black;

  padding: 8px;
  width: 70%;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.forgetButton {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.forgetText {
  font-size: 1.5rem;
  font-weight: bold;
}

.feedbackItem {
  background-color: rgba(221, 218, 218, 0.205);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.feedbackTile {
  font-size: 2rem;
  margin-bottom: 20px;
}
.reviewForm {
  margin: 20px 0;
}
.addReviewForm {
  display: flex;
  justify-content: space-evenly;
  padding: 14px;
  align-items: center;
}

.aboutContainer h1 {
  font-size: 2rem;
}
.profileName {
  margin: 5px 10px;
}

.titleCategory {
  font-size: 1.5rem;
  margin-left: 20px;
}
.aboutContainer {
  height: 450px;
}
@media (max-width: 600px) {
  .categoryListing {
    width: 100%;
  }
  .house-img {
    margin-bottom: 50px;
    max-width: 100%;
    height: 360px;
    border-radius: 10px;
  }
  .categoryListingImg {
    height: 150px;
    margin-right: 20px;
    object-fit: cover;
  }
  .house-img {
    margin-bottom: 50px;
    width: 100%;
    height: 360px;
    border-radius: 10px;
  }
  .pictureHome {
    background-color: #000000;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .campingImage {
    height: 70%;
  }
  .listingDetails {
    margin-left: 20px;
  }
  .leafletContainer {
    width: 93%;
    height: 400px;
    overflow-x: hidden;
    margin-bottom: 3rem;
  }
  .feedbackList {
    width: 80%;
  }
  .house-img {
    margin-bottom: 50px;
    max-width: 100%;
    height: 360px;
    border-radius: 10px;
  }
}
@media (max-width: 390px) {
  .house-img {
    margin-bottom: 50px;
    width: 100%;
    height: 360px;
    border-radius: 10px;
  }
}
